# Application name
spring.application.name=TicketReserve

# PostgreSQL connection (Supabase)
spring.datasource.url=jdbc:postgresql://<host>:<port>/postgres?sslmode=require
spring.datasource.username=<your-supabase-username>
spring.datasource.password=<your-supabase-password>
spring.datasource.driver-class-name=org.postgresql.Driver

# JPA / Hibernate
spring.jpa.hibernate.ddl-auto=update
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true

# Server
server.port=8080

spring.jpa.open-in-view=false
